.grids {
  /* display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    text-align: center;
    justify-items: center; */
  /* margin-left: 51px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
